@*@page
@model SofiaTeachersOnline.Web.Pages.Shared._FooterModel
@{
}*@

<section class="section contact" data-section="section6">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-heading">
                    <h2>Свържете се с нас!</h2>
                </div>
            </div>

            <!-- Do you need a working HTML contact-form script?
            Please visit https://templatemo.com/contact page -->

            <div class="container">
                <div class="row">
                    <div class="col-xs-4 col-sm-4 col-md-4">
                        <ul class="footer-links">
                            <li><a href=""><h2>Английски</h2></a></li>
                            <li><a href="">Начално ниво А0</a></li>
                            <li><a href="">Първо ниво А1</a></li>
                            <li><a href="">Второ ниво А2</a></li>
                            <li><a href="">Трето ниво Б1</a></li>
                            <li><a href="">Четвърто ниво Б2</a></li>
                            <li><a href="">Пето ниво C1</a></li>
                            <li><a href="">Последно ниво C2</a></li>
                        </ul>
                    </div>

                    <div class="col-xs-4 col-sm-4 col-md-4">
                        <ul class="footer-links">
                            <li><a href=""><h2>Български за чужденци</h2></a></li>
                            <li><a href="">Начално ниво А0</a></li>
                            <li><a href="">Първо ниво А1</a></li>
                            <li><a href="">Второ ниво А2</a></li>
                            <li><a href="">Трето ниво Б1</a></li>
                            <li><a href="">Четвърто ниво Б2</a></li>
                            <li><a href="">Пето ниво C1</a></li>
                            <li><a href="">Последно ниво C2</a></li>
                        </ul>
                    </div>

                    <div class="col-xs-4 col-sm-4 col-md-4">
                        <ul class="footer-links">
                            <li><a href=""><h2>Контакти</h2></a></li>
                            <li><a href="">Телефон: 0881 234 567</a></li>
                            <li><a href="">E-mail: sofiateachers@gmail.com</a></li>
                        </ul>

                        <div class="social-medias">
                            <a class="social-media" id="facebook" href="https://www.facebook.com/English-Teachers-Online-103003167795243"><i class="fa fa-facebook"></i></a>
                            <!--<a class="social-media" id="twitter" href="#"><i class="fa fa-twitter"></i></a>
                            <a class="social-media" id="dribbble" href="#"><i class="fa fa-instagram"></i></a>
                            <a class="social-media" id="linkedin" href="#"><i class="fa fa-linkedin"></i></a>  -->
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</section>

<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p>
                    <i class="fa fa-copyright"></i> Copyright 2021 by Sofia Teachers Online
                    <!--| Design: <a href="https://templatemo.com" rel="sponsored" target="_parent">TemplateMo</a></p>-->
            </div>
        </div>
    </div>
</footer>
